@main-color: #399df0;
@fastest-lap-color: #b249c3;
@fastest-lap-color-hover:rgb(134, 29, 151);

@card-padding: 8px;
@card-border-radius: 8px;
@card-box-shadow: 3px 3px 3px 1px #cecece;

@right-side-card-width: 320px; 

@main-content-height: 600px;
@main-collapse-padding: 4px 0px 0px 8px !important;

.main-header {
    background-color: @main-color !important;
    color: #ffffff !important;
    font-size: 20px;
    font-weight: bold;
}

.main-footer {
    text-align: center;
}

.main-detail-content-container {    
    
    font-size: 10px;

    .ant-card-body {
        padding: @card-padding;
    }

    .ant-card-head {
        padding: 0 @card-padding;

        .ant-card-head-title {
            padding-bottom: 2px;
            padding-top: @card-padding;
        }
    }

    .ant-collapse-header {
        padding: @main-collapse-padding;
    }
    
    .session-select{
        width: 110px;
    }

    .chart-type-select{
        width: 125px;
    }

    .ant-select-selection-item {
        font-weight: 500;
    }

    .card-title {
        font-weight: 500;
    }

    .main-table {
        margin: 0 auto;
        min-height: @main-content-height;
        // overflow-y: scroll;
        
        -ms-overflow-style: none; /* for Internet Explorer, Edge */
        scrollbar-width: none; /* for Firefox */

        &::-webkit-scrollbar {
            display: none; /* for Chrome, Safari, and Opera */
        }

        .flag-icon {
            height: 15px;
            vertical-align: middle;
        }

        .logo-icon { 
            font-size: 30px;
            color: #000000;
            vertical-align: middle;
            margin-top: -8px; 
            margin-bottom: -8px;
        }

        .row-fastest-lap {
            background-color: @fastest-lap-color;
            color: #ffffff;
            
            .ant-table-column-sort {
                background-color: @fastest-lap-color;
                color: #ffffff;
            }

            .ant-table-cell-row-hover {
                background-color: @fastest-lap-color-hover;
            }
        }
    }

    thead > tr > th {
        background-color: @main-color !important;
        color: #f3f1f1;
        text-align: center;
    }

    .ant-table-cell {
        padding: 2px !important;
    }

    .main-line-chart-container{
        
        text-align: left;
        
        .main-line-chart {
            margin-top: 16px;
            height: 520px !important;
        }
    
        .chart-data-type-select {
            width: 155px;
        }
    }   
}

.track-info-container {

    width: @right-side-card-width;
    height: 280px;
    text-align: center;

    .ant-card-body {
        padding: @card-padding;
    }

    .track-image {
        width: 200px;
        height: 140px;
    }
    .flag-icon {
        height: 15px;
        vertical-align: middle;
        margin-bottom: 3px;
    }

    .track-info-text-container {
        text-align: left;
    }

    .detail-title-selectable {
        margin-bottom: 8px;
    }

    .track-select {
        text-align: left;
        width: 215px;
    }

    .ant-select-selection-item {
        font-weight: 500;
    }
    
    .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
        padding: 0 8px;
    }
    .ant-select-single.ant-select-show-arrow .ant-select-selection-item, .ant-select-single.ant-select-show-arrow .ant-select-selection-placeholder {
        padding-right: 16px;
    }

    .year-info{
        font-size: 12px;
    }

}

.race-result-container{
    width: @right-side-card-width;

    .ant-card-body {
        padding: @card-padding;
    }

    .ant-card-head {
        padding: 0 @card-padding;

        .ant-card-head-title {
            padding-bottom: 2px;
            padding-top: @card-padding;
        }
    }

    .podium-container {
        text-align: center;
        margin-top: 16px;
        height: 140px;

        .podium-stage {
            position: absolute;
            bottom: 120px;
            transform: translate(75%, 0);
            
            .logo-icon{
                font-size: 45px;
            }

            .flag-icon {
                display: block;
                margin: 0 auto;
                height: 15px;
            }
        } 
    }
}

.ant-layout .content-layout{
    background-color: #ececec;
    padding: 16px;
}

.main-summary-content-container {
    font-size: 8pt;
   
    .ant-card-body {
        padding: @card-padding;
    }

    .ant-card-head {
        padding: 0 @card-padding;

        .ant-card-head-title {
            padding-bottom: 2px;
            padding-top: @card-padding;
        }
    }

    .ant-collapse-header {
        padding: @main-collapse-padding;
    }

    .main-table {
        margin: 0 auto;
        min-height: @main-content-height;

        .ant-table-cell {
            padding: 2px !important;
            font-size: 10pt;
        }
    
        .flag-icon {
            height: 15px;
            vertical-align: middle;
        }

        .logo-icon { 
            font-size: 27px;
            color: #000000;
            vertical-align: middle;
        }
    
        thead > tr > th {
            text-align: center;
        }
    
        .table-header-country{
            line-height: 16px;
            padding: 4px 0 4px 0;
        }
    
        .table-result {
            text-align: center;
        }
    }
}

.summary-side-container {
    .leaderboard {
        .flag-icon {
            height: 15px;
            vertical-align: middle;
        }
    }    
}

.driver-list-filter-card {
    border-radius: @card-border-radius !important;
    margin: 0 12px;
}

.driver-list {
    .ant-collapse-header {
        padding: @main-collapse-padding;
    }

    .ant-list-header {
        padding: 0px;
    }

    .driver-card {
        text-align: center;
        justify-content: center;
        box-shadow: @card-box-shadow;
        border-radius: @card-border-radius !important;

        .ant-card-body {
            padding: @card-padding;
        }    

        .driver-info {
            font-size: 14pt;
            vertical-align: middle;

            .flag-icon {
                height: 16px;
            }
        }

        .constructor-background{
            top: 0; 
            left: 0; 
            height: 70px; 
            width: 100%; 
            position: absolute;
            text-align: left;
            border-radius: @card-border-radius;

            .logo-icon {
                font-size: 70px;
                position: absolute;
                left: 4px;
            }
        }

        .ant-divider.ant-divider-horizontal {
            margin: 8px 0;
            border: 1px solid #cecece59;
        }
        
        .driver-stats-group {
            width: 100%;
            justify-content: center;
            font-size: 12pt;

            .ant-divider.ant-divider-vertical {
                margin: 0 4px;
                border: 1px solid #dededeab;
                height: 30px;
            }
        }
    }   
}

.driver-detail {

    
    .driver-detail-statistic-table{
        thead > tr > th {
            background-color: @main-color !important;
            color: #f3f1f1;
            text-align: center;
        }    
    }
    
    .driver-profile {
        height: 300px;

        .flag-icon {
            width: 20px;
        }
    }

    .driver-summary {
        height: 300px;
        
        .ant-card-head {
            padding: 0px 16px;
        }
    }

    .driver-summary-chart {
        height: 220px !important;
    }

    .driver-detail-race-detail {
        &-table{
            margin-top: 8px;
            max-width: 400px;

            .flag-icon {
                height: 15px;
                vertical-align: middle;
            }       
        }
    }
}