@main-color: #399df0;

.main-table-container {    
    
    font-size: 10px;

    .main-table {
        width: 50%;
        margin: 0 auto;
        height: 624px;
        overflow-y: auto;

        .flag-icon {
            height: 15px;
            vertical-align: middle;
        }

        .logo-icon { 
            font-size: 30px;
            color: #000000;
            vertical-align: middle;
            margin-top: -8px; 
            margin-bottom: -8px;
        }

        .row-fastest-lap {
            background-color: #b249c3;
            color: #ffffff;
        }
    }

    thead > tr > th {
        background-color: @main-color !important;
        color: #f3f1f1;
        text-align: center;
    }

    .ant-table-cell {
        padding: 2px !important;
    }
}

.main-select-group {
    width: 50%;
    margin: 16px auto 0 auto;
    text-align: center;

    .session-select{
        width: 120px;
    }

    .chart-type-select{
        width: 125px;
    }
}