@main-color: #399df0;

.main-table-container {    
    
    font-size: 10px;

    .main-table {
        width: 50%;
        margin: 0 auto;
        height: 624px;
        overflow-y: auto;

        .flag-icon {
            height: 15px;
            vertical-align: middle;
        }
    }

    thead > tr > th {
        background-color: @main-color !important;
        color: #dfdfdf;
    }

    .ant-table-cell {
        padding: 2px !important;
    }
}

.main-select-group {
    width: 50%;
    margin: 16px auto 0 auto;
    text-align: center;
}